.logoPlanit{
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
    height: 145px;
}

.catchphrase{
    position:absolute;
    color: var(--white);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    line-height: 30px;
    height: 90px;
    margin: 0;
    width:100%;
    margin-top:100px;
}

.EnterNamePageButton{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:770px;
    margin-left: 25px;
    margin-right: 25px;
}
