.logoPlanit{
    position:absolute;
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
    height: 145px;
    width:100%;
}

.inputArea p{
    color: var(--white);
    font-family: var(--raleway);
    font-size: var(--button);
}

.inputArea{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.EnterNamePageButton{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:770px;
    width:100%;
}
