
.entirePageInfo{
    width:100%;
    position:absolute;
    display: flex;

    height:3300px;

}

.entirePageInfoCenterer{
    width:430px;
    background-color: var(--black);
    border: 2px solid red;
    margin:0 auto;
}

.sectionTitleCenterer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}