
.entirePageInfo{
    width:100%;
    position:absolute;
    display: flex;

    height:3300px;

}

.entirePageInfoCenterer{
    background-color: var(--black);
}

.sectionTitleCenterer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}