
.entirePageInfo{
    width:100%;
    position:absolute;
    display: flex;
    justify-content: center;
}

.entirePageInfoCenterer{
    position:absolute;
    width:430px;
    background-color: var(--black);
    border: 2px solid red;
    height:3300px;
}

.sectionTitleCenterer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sectionTitleCenterer h1{
    color: var(--white);
}