.explorePagePhrase{
    position:absolute;
    font-family: var(--poppins);
    color: var(--white);
    margin-top: 300px;
    margin-left: 40px;
}

.carouselArea{
    background-color: Red;
    width:80%;
    height:200px;
    position:absolute;
    margin-top: 400px;
    left:40px;
    display:flex;
    flex-direction: row;
    align-items: center;
}