/* .containmentDivision{
    width:430px;
    height:932px;
    position: absolute;
    margin:0 auto;
    background-color: red;
    top:0;
    left:0;
} */

.testingular{
    width:100px;
    height: 100px;
    background-color: red;
    position:absolute;
}

.explorePagePhrase{
    position:absolute;
    font-family: var(--poppins);
    color: var(--white);
    margin-top: 300px;
    margin-left: 40px;
}

.carouselArea{
    border: 2px solid red;
    width:80%;
    height:200px;
    position:absolute;
    margin-top: 400px;
    left:40px;
    display:grid;
    grid-template-columns: 140px 140px 140px 140px 140px;
    grid-gap: 25px;
    place-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}