.headerSection{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.headerSectionIconLeft{
    padding-left: 30px;
    padding-bottom: 30px;
}

.headerSectionIconRight{
    padding-right: 30px;
}

.headerSectionWords{
    font-family: var(--poppins);
    color: var(--white);
    padding-right: 50px;
    display:flex;
    flex-direction: column;

}