.textContainer{
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top:0;
    left:0;
    width: 380px;
    color: var(--Calm-WHite, #F2F5EA);
}
.pageHeader{
    width: 380px;
    list-style: none;
    font-family: var(--poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 25px;
}
.pagePara{
    width: 348px;
    color: var(--Calm-WHite, #F2F5EA);
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 25px;
}
