.buttonWhole{
    width:380px;
    height:60px;
    margin:0 auto;
    position:absolute;
    bottom:220px;
}

.buttonText{
    text-decoration: none;
    margin:0;
}

.buttonStyling{
    width:380px;
    height:50px;
    margin-top:10px;
}

.buttonLower{
    width:380px;
    height:50px;
    margin-top:20px;
}