.main {
  width: '430px';
  height: '932px';
  margin: '0 auto';
  overflow: hidden;
}

.logoPlanit{
  font-family: var(--poppins);
  font-weight: bold;
  font-size: var(--title);
  color: var(--white);
  text-align: center;
  margin-top: 140px;
}

.linkStyling{
  appearance: none;
  background-color: transparent;
}