.logoPlanit{
    grid-row: 1/2;
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
    height: 145px;
}

.catchphrase{
    grid-row: 2/3;
    color: var(--white);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    line-height: 30px;
    height: 90px;
    margin: 0;
}

.LandingPageButtons{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:770px;
    margin-left: 25px;
    margin-right: 25px;
}

.LandingPageButtonsSpacer{
    height: 10px;
}