.logoPlanit{
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
}

.LandingPageButtons{
    bottom:220px;
    padding-top: 30px;
}