.logoPlanit{
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
}

.catchphrase{
    color: var(--white, #F2F5EA);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    margin-bottom: 10px;
}

.catchphrase br{
    display: block;
    margin-bottom: 10px;
}

.LandingPageButtons{
    display: flex;
    flex-direction: column;
    margin-top: 490px;
}

.LandingPageButtonsSpacer{
    height: 10px;
}