.LandingPage{
    width:430px;
    height:932px;
    position:relative;
}

.logoPlanit{
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;

    height: 145px;
}

.catchphrase{
    color: var(--white);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    line-height: 30px;
    height: 90px;
    margin: 0;
    margin-top:330px;
}

.LandingPageButtons{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:770px;
    margin-left: 25px;
    margin-right: 25px;
}

.LandingPageButtonsSpacer{
    height: 10px;
}