.LandingPage{
    width:420px;
    height: 932px;
    display: grid;
    grid-template-rows: auto auto auto;

}

.logoPlanit{
    grid-row: 1/2;
    font-family: var(--poppins);
    font-weight: bold;
    font-size: var(--title);
    color: var(--white);
    text-align: center;
    margin:0;
    margin-top: 140px;
    height: 145px;
}

.catchphrase{
    grid-row: 2/3;
    color: var(--white);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    line-height: 30px;
    height: 90px;
    margin-top:100px;
    margin-bottom: 0;
}

.LandingPageButtons{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    margin-top: 258px;
}

.LandingPageButtonsSpacer{
    height: 10px;
}