.LandingPage{
    width:420px;
    height: 932px;

}

.LandingPageTopElements{
    display: grid;
    grid-template-rows: auto auto;
}

.catchphrase{
    grid-row: 2/3;
    color: var(--white);
    text-align: center;
    font-family: var(--raleway);
    font-size: var(--button);
    line-height: 30px;
    height: 90px;
    margin-bottom: 0;
}

.LandingPageButtons{
    display: flex;
    flex-direction: column;
    position:absolute;
}

.LandingPageButtonsSpacer{
    height: 10px;
}