.mainQuiz {
    width: 430px;
    height: 932px;
    margin: 0;
    background-color: navy;
}

.space{
    margin: 0px;
    z-index: -1;
}

/*<RadioButton isChecked={isChecked} onChange={handleChange}/>*/


